<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="3">
    <Properties>
        <Property name="name">${ctx:LOGNAME}</Property>
        <Property name="time">${ctx:STARTTIME}</Property>
    </Properties>
    <appenders>
        <File name="FILE" fileName="logs/${time}/${name}.log" append="true">
            <PatternLayout pattern="%d{ISO8601} [%-5p] (%F:%L) - %m%n"/>
        </File>
        <Async name="Async">
            <AppenderRef ref="FILE"/>
        </Async>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36}:%L %M - %m%ex%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="file" level="info">
            <appender-ref ref="Async"/>
        </logger>
    </loggers>

</configuration>